# 6. 데이터 선택(기본)

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col = '지원번호')
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강병호   포항고  197   90   85  100  95  85      Python
2번    김도윤   세명고  184   40   35   50  55  25        Java
3번    김재열  제철공고  168   80   75   70  80  75  Javascript
4번    김형진   포항고  187   40   60   70  75  80         NaN
5번    이형준   동지고  188   15   20   10  35  10         NaN
6번    이병헌   제철고  202   80  100   95  85  80           C
7번    권동영  흥해공고  188   55   65   45  40  35      PYTHON
8번    최현우   세명고  190  100   85   90  95  95          C#

## Column 선택 (label)

In [2]:
df['이름']

지원번호
1번    강병호
2번    김도윤
3번    김재열
4번    김형진
5번    이형준
6번    이병헌
7번    권동영
8번    최현우
Name: 이름, dtype: object

In [3]:
df['키'] # df['column 명']

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: int64

In [4]:
df[['이름', '키']]

       이름    키
지원번호
1번    강병호  197
2번    김도윤  184
3번    김재열  168
4번    김형진  187
5번    이형준  188
6번    이병헌  202
7번    권동영  188
8번    최현우  190

## Column 선택 (정수 Index)

In [5]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [6]:
df.columns[0]

'이름'

In [7]:
df.columns[2]

'키'

In [8]:
df[df.columns[0]] # == df['이름'] 과 동일한 동작

지원번호
1번    강병호
2번    김도윤
3번    김재열
4번    김형진
5번    이형준
6번    이병헌
7번    권동영
8번    최현우
Name: 이름, dtype: object

In [9]:
df[df.columns[-1]] # 맨 끝에 있는 값을 가져옴

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            C#
Name: SW특기, dtype: object

## 슬라이싱

In [10]:
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강병호   포항고  197   90   85  100  95  85      Python
2번    김도윤   세명고  184   40   35   50  55  25        Java
3번    김재열  제철공고  168   80   75   70  80  75  Javascript
4번    김형진   포항고  187   40   60   70  75  80         NaN
5번    이형준   동지고  188   15   20   10  35  10         NaN
6번    이병헌   제철고  202   80  100   95  85  80           C
7번    권동영  흥해공고  188   55   65   45  40  35      PYTHON
8번    최현우   세명고  190  100   85   90  95  95          C#

In [13]:
df['영어'][0:5] # 0~4 까지 영어 점수 데이터 가져옴

지원번호
1번    85
2번    35
3번    75
4번    60
5번    20
Name: 영어, dtype: int64

In [14]:
df[['이름', '키']][:3] # 처음 세명의 이름, 키 정보를 가져옴

       이름    키
지원번호
1번    강병호  197
2번    김도윤  184
3번    김재열  168

In [15]:
df[3:]

       이름    학교    키   국어   영어  수학  과학  사회    SW특기
지원번호
4번    김형진   포항고  187   40   60  70  75  80     NaN
5번    이형준   동지고  188   15   20  10  35  10     NaN
6번    이병헌   제철고  202   80  100  95  85  80       C
7번    권동영  흥해공고  188   55   65  45  40  35  PYTHON
8번    최현우   세명고  190  100   85  90  95  95      C#